---
import { languages } from '@i18n/ui';
import { Button }from '@components';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="dropdown">
	<Button isInvert size= { 'ssm' } class="flex gap-1">{t('lenguage-selector')}</Button>
	<div class="dropdown-content">
		{
			Object.entries(languages).map(([lang, label]) => (
				<a href={`/home/${lang}/`}>{label}</a>
			))
		}
	</div>
</div>

<style>
	/* Agrega estilos para la apariencia del botón y del desplegable */


	.dropdown {
		position: relative;
		display: inline-block;
    padding: auto;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 12px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
    width: 100%;
    font-size: 1rem;
	}

	.dropdown-content a {
		color: black;
		padding: 10px 50px;
		text-decoration: none;
		display: flex;
    justify-content: center;
    
	}

	.dropdown-content a:hover {
		background-color: hsla(245, 59%, 59%, 0.8);
    color: hsl(0, 0%, 100%);
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

</style>
