---
import { ANGULAR_APP_URL, VIDEOS_PATH } from '@common';
import { Button } from '@components';
---

<section class="my-20 text-center" aria-labelledby="main-heading">
  <div class="container mx-auto px-4">
    <h1 id="main-heading" class="mx-auto max-w-[29ch] text-fluid-3xl font-medium leading-tight">
      Analiza tu CV, evalúa ofertas laborales y obtén feedback inmediato
    </h1>
    <p class="mt-12 text-fluid-lg font-bold">¡Adelante nosotros creemos en tí, tú puedes!</p>
    <div class="mx-auto mt-6 flex w-fit gap-4 max-sm:flex-wrap max-sm:justify-center">
      <Button href={`${ANGULAR_APP_URL}/login`} isInvert> Registrarme </Button>
      <Button href="#sample">Demo</Button>
    </div>

    <!-- Add the Dots later on -->
    <video class="relative z-10 mx-auto mt-20 w-full max-w-4xl rounded-[16px] object-cover" loop autoplay muted>
      <source src={`${VIDEOS_PATH}/cover.mp4`} type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>
