---
import { VIDEOS_PATH } from '@common';
import { HorizontalCard } from '@components';
---

<section id="services" class="my-20" aria-labelledby="nuestro-servicios-titulo">
  <div class="container mx-auto px-4">
    <h2 id="nuestro-servicios-titulo" class="section-title text-center">Nuestros Servicios</h2>

    <HorizontalCard
      title="Análisis CV"
      description="Analizamos tu CV mediante Inteligencia Artificial (IA) y con ello podemos saber tu nivel de experiencia laboral y habilidades."
      videoUrl={`${VIDEOS_PATH}/analisis_cv.webm`}
      imgAltText='Captura de pantalla de una interfaz de prueba de prototipo. A la izquierda, hay un menú con varias opciones de prueba, incluyendo "Find our Services page", "What was your first impression...", "What would you expect to have...", "Was the Services page where...", "Organize these pages into cat...", y "Which of the following best d...". A la derecha, se muestra la prueba seleccionada con detalles como "Task", "Description", "Prototype", y "Expected path".'
      isInvert
    />
    <!-- TODO: Hasta tener ofertas se ha comentado éste componente -->
    <!-- <HorizontalCard
      title="Ofertas"
      description="Aquí es donde vas a llenar un formulario con la descripción del empleo para preparar el camino a tu entrevista, brindándote confianza y seguridad."
      imgUrl={`${IMAGES_PATH}/services_02.png`}
      imgAltText='Captura de pantalla de una interfaz de prueba de prototipo con un fondo amarillo degradado. A la izquierda, hay un menú con varias opciones de prueba, incluyendo "Find our Services page", "What was your first impression...", "What would you expect to have...", "Was the Services page where...", "Organize these pages into cat...", y "Which of the following best d...". A la derecha, se muestra la prueba seleccionada con detalles como "Task", "Description", "Prototype", y "Expected path".'
      isInvert
      variant="yellow"
    /> -->

    <HorizontalCard
      title="Entrevista"
      description="Para garantizar la entrevista, hemos asegurado que la información clave, como habilidades y experiencia, coincida en ambos documentos."
      videoUrl={`${VIDEOS_PATH}/entrevista.webm`}
      imgAltText='Captura de pantalla de una interfaz de prueba de prototipo con un fondo verde degradado. A la izquierda, hay un menú con varias opciones de prueba, incluyendo "Find our Services page", "What was your first impression...", "What would you expect to have...", "Was the Services page where...", "Organize these pages into cat...", y "Which of the following best d...". A la derecha, se muestra la prueba seleccionada con detalles como "Task", "Description", "Prototype", y "Expected path".'
      variant="green"
    />

    <HorizontalCard
      title="Feedback"
      description="Una vez completada la entrevista te haremos el feedback de la entrevista y sabrás tus fortalezas y cosas por mejorar."
      videoUrl={`${VIDEOS_PATH}/feedback.webm`}
      imgAltText='Captura de pantalla de una interfaz de prueba de prototipo con un fondo azul degradado. A la izquierda, hay un menú con varias opciones de prueba, incluyendo "Find our Services page", "What was your first impression...", "What would you expect to have...", "Was the Services page where...", "Organize these pages into cat...", y "Which of the following best d...". A la derecha, se muestra la prueba seleccionada con detalles como "Task", "Description", "Prototype", y "Expected path".'
      isInvert
      variant="blue"
    />
  </div>
</section>
