---
import { Tag } from '@components';
---

<section id="who-we-are" class="my-20" aria-labelledby="quienes-somos-titulo">
  <div class="container mx-auto px-4">
    <div class="grid items-center gap-20 lg:grid-cols-2">
      <img
        src="https://avatars.githubusercontent.com/u/66916145?v=4"
        alt="Estación de trabajo moderna y ordenada con un monitor grande, un teclado y un ratón en un escritorio blanco. El monitor muestra una imagen de un paisaje desértico bajo un cielo azul. La iluminación LED azul resalta el contorno del escritorio y la pared. A la izquierda, hay una lámpara de escritorio y una estatuilla pequeña. Una laptop está colocada en un soporte elevador detrás del monitor."
        class="w-full rounded-[16px] object-cover"
      />
      <div class="grid h-fit gap-12">
        <!-- Title and Description -->
        <div>
          <h2 id="quienes-somos-titulo" class="section-title mb-8">¿Quiénes Somos?</h2>
          <p class="text-pretty text-xl">
            Somos una comunidad open source dedicada a ayudar a desarrolladores a prepararse para su primera entrevista técnica. Nuestra
            plataforma utiliza inteligencia artificial para simular entrevistas reales, ofreciendo una experiencia excepcionalmente útil y
            cautivadora.
          </p>
        </div>

        <!-- Tag Section -->
        <div>
          <p class="mb-4 text-xl">Nuestros valores fundamentales impulsan nuestro crecimiento:</p>

          <div class="wrap flex gap-2 max-sm:flex-wrap">
            <Tag size="sm" hasBorder>Colaboración</Tag>
            <Tag size="sm" hasBorder>Innovación</Tag>
            <Tag size="sm" hasBorder>Aprendizaje continuo</Tag>
          </div>
        </div>

        <!-- Two columns text -->
        <div class="grid gap-6 lg:grid-cols-2">
          <div>
            <h3 class="mb-4 text-2xl font-bold">Comunidad en Crecimiento</h3>
            <p class="text-balance">
              Estamos construyendo una plataforma que se adapta a desarrolladores en todas las etapas, fomentando el crecimiento y el
              aprendizaje mutuo.
            </p>
          </div>

          <div>
            <h3 class="mb-4 text-2xl font-bold">Liderazgo Apasionado</h3>
            <p class="text-balance">
              Liderado por JamiltonQuintero, un desarrollador con más 5 años de experiencia y un hambre infinita de aprendizaje, nuestro
              proyecto se basa en la pasión por el aprendizaje continuo y la creación de una comunidad vibrante.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
