---
import { Tag } from '@components';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="who-we-are" class="my-20" aria-labelledby="quienes-somos-titulo">
  <div class="container mx-auto px-4">
    <div class="grid items-center gap-20 lg:grid-cols-2">
      <img
        src="https://avatars.githubusercontent.com/u/66916145?v=4"
        alt="Estación de trabajo moderna y ordenada con un monitor grande, un teclado y un ratón en un escritorio blanco. El monitor muestra una imagen de un paisaje desértico bajo un cielo azul. La iluminación LED azul resalta el contorno del escritorio y la pared. A la izquierda, hay una lámpara de escritorio y una estatuilla pequeña. Una laptop está colocada en un soporte elevador detrás del monitor."
        class="w-full rounded-[16px] object-cover"
      />
      <div class="grid h-fit gap-12">
        <!-- Title and Description -->
        <div>
          <h2 id="quienes-somos-titulo" class="section-title mb-8">{t('who-we-are.title')}</h2>
          <p class="text-pretty text-xl">
                {t('who-we-are.description')}
          </p>
        </div>

        <!-- Tag Section -->
        <div>
          <p class="mb-4 text-xl">{t('who-we-are.subtitle')}</p>

          <div class="wrap flex gap-2 max-sm:flex-wrap">
            <Tag size="sm" hasBorder>{t('who-we-are.tag-1')}</Tag>
            <Tag size="sm" hasBorder>{t('who-we-are.tag-2')}</Tag>
            <Tag size="sm" hasBorder>{t('who-we-are.tag-3')}</Tag>
          </div>
        </div>

        <!-- Two columns text -->
        <div class="grid gap-6 lg:grid-cols-2">
          <div>
            <h3 class="mb-4 text-2xl font-bold">{t('who-we-are.subtitle-2')}</h3>
            <p class="text-balance">
                {t('who-we-are.description-2')}
            </p>
          </div>

          <div>
            <h3 class="mb-4 text-2xl font-bold">{t('who-we-are.subtitle-3')}</h3>
            <p class="text-balance">
                {t('who-we-are.description-3')}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
