---
import { Layout } from '@layouts';
import { Contributors, Feature, Hero, Services, WhoWeAre } from './_sections';
---

<Layout title="Kahop">
  <main>
    <Hero />
    <Services />
    <Feature />
    <WhoWeAre />
    <Contributors />
  </main>
</Layout>
